<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="smoke" parallel="classes" thread-count="3">

    <test name="下单" verbose="2" preserve-order="true">
        <classes>
            <class name="me.ele.opensite.pages.checkout.CheckOut" />
        </classes>
    </test> <!-- Test -->

    <test name="demo" verbose="2" preserve-order="true">
        <classes>
            <class name="me.ele.opensite.pages.checkout.CheckOut" />
        </classes>
    </test>

    <listeners>
        <listener class-name="me.ele.opensite.util.ExtentReportListener"></listener>
    </listeners>
</suite> <!-- Suite -->