<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="smoke" parallel="classes" thread-count="1">
    <parameter name="testEnv" value="${testEnv}"/>

    <test name="Checkout" verbose="2" preserve-order="true">
        <classes>
            <class name="me.ele.opensite.testcases.CheckOutTest" />
        </classes>
    </test>
    <test name="HomePage" verbose="2" preserve-order="true">
        <classes>
            <class name="me.ele.opensite.testcases.HomeTest" />
        </classes>
    </test>
    <test name="RestaurantDetail" verbose="2" preserve-order="true">
        <classes>
            <class name="me.ele.opensite.testcases.RestaurantDetailTest" />
        </classes>
    </test>
    <test name="Address" verbose="2" preserve-order="true">
        <classes>
            <class name="me.ele.opensite.testcases.AddressTest">
                <methods>
                    <include name="testAddAddress" />
                    <include name="testModifyAddress" />
                    <include name="testDeleteAddress" />
                </methods>
            </class>
        </classes>
    </test>

    <test name="登陆模块" verbose="2" preserve-order="true">
        <classes>
            <class name="me.ele.opensite.testcases.mypage.LoginTest" />
        </classes>
    </test>

    <listeners>
        <listener class-name="me.ele.opensite.util.ExtentReportListener"></listener>
    </listeners>
</suite>